{% extends "layout.html" %}

{% block body %}
    <div class="home_section">
        <div class="home_title_wrap">
            <p class="home_title eng">
                क्या आपको सर्दी है?
            </p>
            <div class="lang_button_wrap">
                <a class="lang_button" href="/question/nose/hindi/1">हाँ</a>
                <a class="lang_button" href="/question/nose/hindi/0">नहीं</a>
            </div>
        </div>
    </div>

    <script>
        
        window.addEventListener('load', function() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/question/audio/cold/hin_audio', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('Audio played');
                    
                }
            };
            xhr.send();
        });
    </script>
{% endblock %}