{% extends "layout.html" %}

{% block body %}
    <div class="home_section">
        <div class="home_title_wrap">
            <p class="home_title eng">
                Do you have Fever?
            </p>
            <div class="lang_button_wrap">
                <a class="lang_button" href="/question/cold/english/1">Yes</a>
                <a class="lang_button" href="/question/cold/english/0">No</a>
            </div>
        </div>
    </div>

    <script>
        function executeAnnyang() {
            if (annyang) {
                const commands = {
                    'yes': () => { window.location.href = '/question/cold/english/1'; },
                    'no': () => { window.location.href = '/question/cold/english/0'; }
                };
                annyang.addCommands(commands);

                annyang.start();

                const listeningTimeout = 10000; 
                setTimeout(function() {
                    annyang.abort(); 
                }, listeningTimeout);
            }
        }
        window.addEventListener('load', function() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/question/audio/fever/eng_audio', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('Audio played');

                    executeAnnyang();
                }
            };
            xhr.send();
        });
    </script>
{% endblock %}